@model foodfun.Models.ConfirmationViewModel

@{
    ViewBag.Title = "OrderInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>

    <!--================ confirmation part start =================-->
    @*@using (Html.BeginForm())
        {*@
    <section class="confirmation_part section_padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="order_details_iner">
                        <h4 class="text-center">訂單明細</h4>
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col" colspan="2">品名</th>
                                    <th scope="col">數量</th>
                                    <th scope="col">單品小計</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.Cart)
                                {
                                    <tr>
                                        <th>
                                            <span>@Shop.GetProductName(item.product_no)</span>
                                        </th>
                                        <th>
                                            <span>@item.Property_select</span>
                                        </th>

                                        <th>@item.qty</th>
                                        <th> <span>$@item.each_item_amount</span></th>
                                    </tr>


                                }

                                <tr>
                                    <th colspan="3">Subtotal</th>
                                    <th> <span>$ @Cart.Totals.ToString("#,##0")</span></th>
                                </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th scope="col" colspan="3" class="text-right">Total</th>
                                    <th scope="col">$ @Cart.Totals.ToString("#,##0")</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>



            <form id="ConfirmForm">
                <div class="row">
                    <div class="col-lg-4">

                        @Html.HiddenFor(model => model.Order.mno)
                        @Html.HiddenFor(model => model.Order.total)
                        @Html.HiddenFor(model => model.Order.mealservice_no)



                        <div class="single_confirmation_details">
                            <h4>取餐人資訊 </h4>
                            <ul>
                                <li>

                                    <p>@Html.LabelFor(model => model.Order.receive_name)</p>
                                    <span>@Html.EditorFor(model => model.Order.receive_phone, new { htmlAttributes = new { @class = "form-control" } })</span>
                                </li>
                                <li>
                                    <p>@Html.LabelFor(model => model.Order.receive_address)</p>
                                    <span>@Html.EditorFor(model => model.Order.receive_address, new { htmlAttributes = new { @class = "form-control" } })</span>
                                </li>

                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-4">


                        <div class="single_confirmation_details">
                            <h4> 取餐方式 </h4>
                            <ul>
                                <li>
                                    <p>@Html.LabelFor(model => model.mealservice_name)</p>
                                    <span>@Html.TextBoxFor(model => model.mealservice_name, new { @class = "form-control", @readonly = "readonly" })</span>
                                </li>
                                <li>
                                    <p>@Html.LabelFor(model => model.Order.table_no)</p>
                                    <span>@Html.TextBoxFor(model => model.Order.table_no, new { @class = "form-control", @readonly = "readonly" })</span>
                                </li>
                                <li>
                                    <p>@Html.LabelFor(model => model.Order.SchedulOrderTime)</p>
                                    <span>@Html.TextBoxFor(model => model.Order.SchedulOrderTime, new { @class = "form-control", @readonly = "readonly" })</span>

                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4">


                        <div class="single_confirmation_details">
                            <h4>付款方式</h4>
                            <ul>
                                <li>
                                    <p>付款方式</p>
                                    <span>

                                        @Html.DropDownListFor(model => model.Order.paid_no, new SelectList(Model.PaymentsList, "paid_no", "paid_name", Model.Order.paid_no), "選擇付款方式", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Order.paid_no, "", new { @class = "text-danger" })
                                    </span>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-12">
                        <input type="button" value="確認付款" class="btn btn-danger btn-block" id="confirmation" />
                    </div>

                </div>
            </form>
        </div>
    </section>
    
    <!--================ confirmation part end =================-->
</main>


<script>
    $('#confirmation').click(function () {
        var data = $("#ConfirmForm").serialize();
        $.ajax({
            type: 'post',
            url: "/CheckOut/Confirmation",
            data: data,
            success: function (result) {
                if (result == 0) {
                    $.alert({
                        title: '錯誤!',
                        content: "請輸入正確結帳資訊",
                        type: 'red',
                        theme: 'modern',
                        icon: 'fa fa-exclamation'

                    });
                } else {
                    $.alert({
                        title: '訂單成立!',
                        content: '訂單:' + result + '結帳完成!',
                        type: 'orange',
                        theme: 'modern',
                        icon: 'fa fa-check',
                        buttons: {
                            ok: function () { location.href = '@Url.Action("Index", "Home")'; }
                            }
                    });

                }
            }


        })
    })

</script>
