@model foodfun.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "重設密碼";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="row my-5">
    <div class="col-lg-8 offset-lg-2 ">
        <form id="ResetForm">

            <div class="card">
                <div class="card-header">
                    <strong>@ViewBag.Title</strong>
                </div>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="card-body card-block">
                    @*<form action="#" method="post" class="form-horizontal">*@
                    <div class="row form-group">
                        <div class="col col-md-3">@Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "form-control-label" })</div>
                        <div class="col-12 col-md-9">
                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control  single-input", @placeholder = "請輸入新密碼" } })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">@Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form-control-label" })</div>
                        <div class="col-12 col-md-9">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control single-input", @placeholder = "再次輸入密碼" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*</form>*@
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm" id="resetSubmit">
                        <i class="fa fa-dot-circle-o">確認</i>
                    </button>
                    @*<a href="#" id="resetSubmit" class="btn-customer">確認</a>*@

                </div>
            </div>

        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>

<script>

    $('#resetSubmit').click(function () {
        alert('eee');
        var Fontdata = jQuery("#ResetForm").serialize();
        $.ajax({

            type: 'POST',
            url: '@Url.Action("ResetPassword", "Admin")',
            data: Fontdata,
            success: function (result)
            {
                if (result) {
                    alert("密碼修改成功!");
                } else {
                  
                    alert("密碼修改失敗!")
                }
            }

    })

    })

</script>



